@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,700&display=swap');

main article {
    font-family: 'Oxygen', sans-serif;
    
    border-top: 4px solid #570353;
}

main article:last-child {
    border-bottom: 4px solid #570353;
}

main article h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1rem;
}

main article p {
    font-weight: 400;
    font-size: 1.3rem;
    padding-left: 1.2rem;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: none;
    border-bottom: 2px solid #191919;
}

.top_bar_button {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #191919;
    height: inherit;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.top_bar_button:hover {
    background-color: #333;
}