@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.faq_faq {
    font-family: 'Oxygen', sans-serif;
    
    border-top: 3px solid #570353;
}

.faq_faq:last-child {
    border-bottom: 3px solid #570353;
}

.faq_faq h3 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.faq_faq p {
    font-weight: 400;
    font-size: 1.3rem;
    padding-left: 1.2rem;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: none;
    border-bottom: 2px solid #191919;
}

.top_bar_button {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #191919;
    height: inherit;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.top_bar_button:hover {
    background-color: #333;
}

#new_faq_window {
    background-color: #e6e6e6;
    border-radius: 3px;
    border: 2px solid #000;
    margin: 0.5rem 0;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#new_faq_window div {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}


#new_faq_window textarea {
    resize: none;
    border-radius: 3px;
}

#new_faq_window input[type="text"] {
    border-radius: 3px;
}

#new_faq_window label {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

#new_faq_window div > input[type="submit"] {
    background-color: #191919;
    color: white;
    border-radius: 3px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    width: 7.5rem;
    padding: 0.4rem 0;
}

#new_faq_window div > input[type="submit"]:hover {
    background-color: #333;
}

#new_faq_window div > input[type="button"] {
    background-color: #f00;
    color: white;
    border-radius: 3px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    width: 7.5rem;
    padding: 0.4rem 0;
}

#new_faq_window div > input[type="button"]:hover {
    background-color: #ff1a1a;
}

#new_faq_window div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}