@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


.faq_faq {
    font-family: 'Oxygen', sans-serif;
}

.faq_faq h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

.faq_faq p {
    font-weight: 400;
    font-size: 1.3rem;
}

.top_bar_button {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    text-decoration: none;
}

#new_faq_window label {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

#new_faq_window div > input[type="submit"] {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

#new_faq_window div > input[type="button"] {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

#main_header h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#main_header h1 a {
    text-decoration: none;
}

#right_side {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

#right_side a {
    text-decoration: none;
}

#username {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

#side_bar a {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

#side_bar a span {
    font-size: 2em;
}

#main_footer {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.main_title {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 1.7em;
}

#new_ticket_form {
    font-family: 'Oxygen', sans-serif;
}

#sub_button {
    font-weight: 700;
    font-size: 1.1em;
}

.cancel_ticket {
    text-decoration: none;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

#profile_editor_button {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
}

#profile_user p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

#profile_user p:first-child {
    font-weight: 700;
}

#profile_user p:last-child {
    font-size: 1rem;
}

#profile_user p:nth-child(2) {
    font-style: italic;
    font-size: 1.1rem;
}

#bio p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    text-align: justify;
}

.admin_promoter, .agent_promoter, .admin_promoter_profile, .agent_promoter_profile {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
}

#login, #register {
    text-align: center;
}

#login label, #register label {
    text-align: left;
    font-size: medium;
    font-family: 'Oxygen', sans-serif;
}

#login h2, #register h2{
    font-family: 'Nunito Sans', sans-serif;
}

#login p {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
}

#ticket_info_main h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

#ticket_info_main p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

#ticket_info_main a {
    text-decoration: none;
}

.focused_ticket_text {
    text-align: justify;
}

.focused_ticket_info {
    font-size: 0.8em;
}

.outer_tags label {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
}

.focused_ticket_tags {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.focused_ticket_tags div a {
    text-decoration: none;
}

.focused_ticket_comments h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.focused_ticket_comment_poster {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.focused_ticket_comment_text {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.focused_ticket_comment_date {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.comment_maker label {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
}

.comment_maker input[type="submit"]{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
}

#edit_ticket {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    text-decoration: none;
}

#filters {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.filter_checker {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    text-align: center;
}

.ticket a {
    text-decoration: none;
}

.ticket a:hover {
    text-decoration: underline;
}

.ticket_title {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}

.ticket_deadline {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.ticket_tags {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
}

.ticket_department, .ticket_agent, .ticket_status, .ticket_date, .ticket_user {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.ticket article :not(.ticket_text, .ticket_title, .ticket_tags, .ticket_user_img, .ticket_destroyer) {
    font-weight: 700;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
}

.ticket_destroyer {
    font-weight: 700;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
}

#management_main {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

#agent_list p, #client_list p {
    text-align: center;
}

.client_list_item a, .agent_list_item a {
    text-decoration: none;
}

#manage_buttons label {
    text-align: center;
    text-decoration: none;
}

#manage_buttons div form label {
    font-weight: 400;
}

.department_list_admin_item, .status_list_admin_item {
    font-weight: 400;
}

.close-button {
    font-size: 40px;
}

#login_button {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}