@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,700&display=swap');

main {
    display: flex;
    flex-direction: column;
}

#top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-bottom: 2px solid #43464b;
}

#new_ticket {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #43464b;
    height: fit-content;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-top: 1.3rem;
}

#new_ticket:hover {
    background-color: #570353;
}

#tickets_main {
    /* flex: 1; */
    /* display: flex;
    flex-direction: row; */
    flex: 1;
    display: grid;
    grid-template-columns: 1fr auto;
}

#filters {
    height: inherit;
    width: 8rem;
    max-width: 5cm;
    border: none;
    border-left: 4px solid #43464b;
    padding: 10px;
    padding-right: 0%;
    margin-top: 10px;

    display: flex;
    flex-direction: column;

    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

#filters input, #filters select {
    border-radius: 10px;
}

#filters input[type=submit]{
    background-color: #bb66cf;
    color: white;
}

#filters input[value="Tracked tickets"] {
    display: none; 
    /*change if user is agent_admin */
}

#filters :not(label) {
    margin-bottom: 1rem;
}

#tickets {
    height: 100%;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0.2em;
    padding-top: 10px;
    border: none;
    border-bottom: 1px solid #43464b;
}

.ticket {
    text-decoration: none;
}

.ticket article {
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 2px;
    color: black;
    padding: 10px;

    display: grid;
    grid-template-columns: 6rem auto auto auto 4rem;
    grid-template-rows: 4rem 2rem 1.5rem 1.5rem;
}


.ticket article:hover {
    border-color: #bb66cf;
}

.ticket_user_img {
    width: 6rem;
    height: 6rem;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;

    border-radius: 3rem;
}

.ticket_title {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Oxygen', sans-serif;

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 1;
}

.ticket_text {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 10px;

    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2;
}

.ticket_deadline {
    grid-column: 5;
    grid-row: 1;
}

.ticket_date {
    grid-column: 1;
    grid-row: 4;
}

.ticket_user {
    grid-column: 1;
    grid-row: 3;
}

.ticket_tags {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 6;

    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-left: 10px;
}

.ticket_department {
    grid-column: 2;
    grid-row: 4;
}

.ticket_status {
    grid-column: 3;
    grid-row: 4;
}

.ticket_agent {
    grid-column: 4;
    grid-row: 4;
}

.ticket article :not(.ticket_text, .ticket_title, .ticket_tags, .ticket_user_img) {
    font-weight: 700;
    font-size: 13px;
    margin: 0;
    padding: 10px;
    font-family: 'Oxygen', sans-serif;
}