@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body main {
    display: grid;
    grid-template-columns: 15em auto;
    padding: 1em;
    gap: 2em;
}

#settings_sidebar {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    grid-column: 1/2;
    padding: 1em;
}

#settings_sidebar nav {
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#settings_sidebar nav a.active {
    border: 1px;
    border-left: 4px solid #570353;
    border-radius: 5px;
    background-color: rgba(175, 170, 170, 0.778);
    padding-bottom: 5px;
}

#settings_sidebar nav a.active:hover {
    border: 1px; 
    border-left: 4px solid #570353;
    border-radius: 5px;
    background-color: rgba(206, 200, 200, 0.778);
    padding-bottom: 5px;
}
#settings_sidebar nav a {
    border: 1px ;
    border-radius: 5px;
    padding-bottom: 5px;
}

#settings_sidebar nav a:hover{
    border: 1px;
    border-radius: 5px;
    background-color: rgba(206, 200, 200, 0.778);
    padding-bottom: 5px;
}

#settings {
    font-family: 'Nunito Sans', sans-serif;
    grid-column: 2/3;
    padding: 1em;
}

#settings h2 {
    font: bolder;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

#settings input[type="text"], input[type="password"], input[type="date"], select[name="gender"] {
    width: 30%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
}

#settings input:focus {
    outline: none;
}
#settings button {
    padding: 3px;
}

#settings #change_username button {
    width: 10em;
}

#settings .account #change_password form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#settings .account #change_password form input {
    display: block;
    margin-top: 5px;
}

#settings .account #change_password form button {
    width: 20%;
}

#settings #delete_account button {
    width: 10em;
}

#settings .notifications form div {
    margin: 10px;
}

#settings .notifications > div {
    border: 1px solid rgba(175, 170, 170, 0.778);
    border-radius: 10px;
    padding: 10px;
}

#settings .notifications p {
    margin: 0;
}

#settings .account .popup {
    width: 20em;
    border: 1px solid;
    border-radius: 10px;
    padding: 1em;
}

#settings .account .popup #close_button {
    display: flex;
    justify-content: end;
}

#settings .account .popup .close {
    width: 25px;
    border: 1px solid;
    border-radius: 15px;

}

#settings .account .popup .close:hover {
    background-color: rgba(221, 215, 215, 0.778);
}

#settings .account .popup h3 {
    margin-top: 0;
}

#settings .account #new_username {
    display: none;
}

#settings .account, #settings .notifications {
    display: none;
}