@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#ticket_listing {
    display: flex;
    flex-direction: column;
}

#top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
}

#ticket_listing h2 {
    margin-top: 20px;
    margin-bottom: 0%;
    width: fit-content;
    justify-self: left;
    height: auto;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 2.1rem;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 0.2rem;
}

#buttons * {
    height: inherit;
    width: 6rem;
    font-family: 'Oxygen', sans-serif;
    font-size: 0.6rem;
    font-weight: 700;
    
}

#buttons input {
    background-color: #43464b;
    color: white;
    border-radius: 10px;

    margin: 0;
}

#buttons input:hover {
    background-color: #bb66cf;
    border-color: #bb66cf;
}

#new_ticket {
    text-decoration: none;
}

#new_ticket div {
    height: inherit;
    background-color: #43464b;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}

#new_ticket div:hover {
    background-color: #bb66cf;
}

#new_ticket div p {
    height: min-content;
    width: fit-content;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;

    color: whitesmoke;
}

#tickets {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 10px;
}

#tickets a {
    text-decoration: none;
}

#tickets a article {
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 2px;
    color: black;
}

#tickets a article:hover {
    border-color: #bb66cf;
}

#tickets a article h4 {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Oxygen', sans-serif;
}

#tickets a article p {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 10px;
}